<{{tag}} {{#configKey}}configKey="{{{configKey}}}"{{/configKey}}>
    {{#parameters}}
    <{{{name}}} {{#value}}{{#namespaces}} xmlns:{{{prefix}}}="{{{uri}}}"{{/namespaces}}>{{#isCDATA}}<![CDATA[{{{value}}}]]>{{/isCDATA}}{{^isCDATA}}{{value}}{{/isCDATA}}{{/value}}</{{{name}}}>
    {{/parameters}}
</{{tag}}>
