<variable {{#variableName}}name="{{variableName}}" {{/variableName}}{{#variableDataType}}type="{{variableDataType}}" {{/variableDataType}}{{#expression}}expression="{{expression}}" {{/expression}}{{#description}}description="{{description}}" {{/description}}{{#value}}value="{{value}}" {{/value}}/>
